.banner {
    background-image: linear-gradient( rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)), url(/Resources/images/pattern.jpeg);
    background-size: cover;
    width: 100%;
    height: 125px;
    margin: 30px 0 50px 0;
}

h1 {
    font-size: 100px;
    color: khaki;
    font-family: Helvetica;
    text-align: center;
}


h2 {
    color: white;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
}

.green {
    background-color: mediumspringgreen;
}

.red {
    background-color: lightcoral;
}

.blue {
    background-color: skyblue;
}

.price {
    color: blue;
    font-family: Helvetica;
    font-weight: bold;
}
